.input {
  outline: none;
  padding: 0.5em;
  color: #0e244a;
  font-size: 15px;
  &.error {
    border: 1px solid red;
  }
  &.no-error {
    border: 1px solid #dee2e6;
  }
  &:focus {
    border-color: #2863ff;
  }
  &::placeholder {
    color: #a0a0a0;
  }
  &:disabled {
    color: #eaecef;
    background-color: #eaecef;
  }
}
